/* npx @tailwindcss/cli -i ./src/main.css -o ./src/output.css --watch*/
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import "tailwindcss";

@theme{
    --font-momo_signature: "Momo Signature", cursive; 
    --font-bebas: "Bebas Neue", sans-serif;
    --font-gravitas-one: "Gravitas One", serif;
    --font-lobster: "Lobster", cursive;
    --font-permanent-marker: "Permanent Marker", cursive;
    --color-khaki: #b7b49a;
}

@layer components {
  .btn-retro {
    @apply
      inline-flex
      h-12
      items-center
      justify-center
      overflow-hidden
      border
      border-amber-900
      bg-transparent
      px-8
      py-4
      font-medium
      text-amber-900
      transition-all
      duration-100
      cursor-pointer
      [box-shadow:5px_5px_rgb(82_82_82)]
      active:translate-x-[3px]
      active:translate-y-[3px]
      active:[box-shadow:0px_0px_rgb(82_82_82)];
  }

  .btn-soft {
    @apply
      inline-flex
      h-12
      items-center
      justify-center
      overflow-hidden
      border
      border-blue-950
      bg-transparent
      px-8
      py-4
      font-medium
      text-blue-950
      rounded-4xl
      transition-all
      duration-100
      cursor-pointer
      [box-shadow:5px_5px_rgb(145_144_141)]
      active:translate-x-[3px]
      active:translate-y-[3px]
      active:[box-shadow:0px_0px_rgb(82_82_82)];
  }

  .btn-chip {
    @apply
      inline-flex
      h-12
      items-center
      justify-center
      overflow-hidden
      border
      border-white
      bg-transparent
      px-8
      py-4
      font-medium
      text-white
      rounded-4xl
      transition-all
      duration-100
      cursor-pointer
      [box-shadow:5px_5px_rgb(145_144_141)]
      active:translate-x-[3px]
      active:translate-y-[3px]
      active:[box-shadow:0px_0px_rgb(82_82_82)];
  }

  .drawer {
    @apply
      [box-shadow:5px_5px_rgb(82_82_78)]
      translate-x-[-5px]
      translate-y-[-3px]
      active:translate-x-[1px]
      active:translate-y-[3px]
      active:[box-shadow:0px_0px_rgb(82_82_82)];
  }

  .panel-retro {
    @apply
      border
      border-amber-900
      px-8
      py-6
      text-amber-900
      font-medium
      bg-transparent
      [box-shadow:inset_2px_2px_rgb(82_82_82)];
  }

  .retro-form-text {
    @apply
      text-lg
      font-bold
      px-3
      py-3
      text-amber-900
  }

  .list-heading-text {
    @apply
      text-lg
      font-bold
      px-3
      pt-3
  }

  .list-text {
    @apply
      px-3
  }

  .review-heading-text {
    @apply
      text-lg
      font-bold
      px-3
      pt-3
  }

  .review-author-text {
    @apply
      text-base
      font-bold
      px-3
      pb-3
  }

  .review-body-text {
    @apply
      text-base
      px-3
      py-3
  }

  .review-meta-text {
    @apply
      px-3
  }

  .wotw-list-header {
    @apply
      text-2xl
      font-bebas
      text-blue-900
  }

  .wotw-content {
    @apply
      font-light
      font-sans
      flex
      flex-col
      text-lg
      text-black
  }

  .wotw-list-header-i {
    @apply
      text-2xl
      font-bebas
      text-blue-900
  }

  .wotw-content-i {
    @apply
      font-light
      font-sans
      flex
      flex-col
      text-lg
      text-black
  }

  .wotw-form-text {
    @apply
      text-lg
      font-bold
      px-3
      py-3
      text-blue-950
  }

  .chip_header {
    @apply
      text-5xl
      text-yellow-500
      font-bold
      font-lobster
  }

  .chip-rankings{
    @apply
      border 
      border-white
      p-3
      text-center
      m-3
  }

  
}


@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}